.user {
  display: flex;
  align-items: center;
}

.user:hover .avatarWrap {
  border: 2px solid var(--blue);
}

.user:hover .name.onsurface {
  color: var(--blue);
}

.avatarWrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
  border: 2px solid transparent;
  padding: 1px;
}

.image {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.name, .createdAt {
  color: var(--white);
  font-size: 14px;
  padding: 0 0 4px;
}

.name {
  font-weight: 500;
}

.name.onsurface {
  color: var(--black);
}

.createdAt {
  position: relative;
  padding-left: 16px;
}

.createdAt::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 2px;
  width: 1px;
  height: 16px;
  background-color: var(--gray);
}

.createdAt.onsurface {
  color: var(--dark-gray);
}