.photoItem {
  grid-area: auto;
  position: relative;
}

.photoItem:hover .meta {
  opacity: 1;
}

.link {
  position: relative;
  cursor: zoom-in;
  width: 100%;
  display: block;
  padding: 0 0 130%;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  opacity: 0;
  z-index: 1;
}

.photoItem:hover .link::before {
  opacity: 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  z-index: 2;
  opacity: 0;
}

@media all and (max-width: 600px) {
  .link {
    padding: 0 0 110%;
  }

  .link::before {
    opacity: 1;
  }

  .meta {
    opacity: 1;
  }
}
