.photoContainer {
  height: 680px;
  width: 100%;
  border-radius: 4px;
}

.image {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media all and (max-width: 768px) {
  .photoContainer {
    height: 380px;
  }
}
